.venv/
venv/
env/

.env
*.env

ser_model_checkpoints/
*.safetensors
*.bin
*.pt
*.pth

*.wav
*.tar
crowd_data/
crowd/

__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

.idea/
.vscode/


*_report.json


*.log